.topbar-root {
  box-shadow: none !important;
  color: rgb(39, 39, 42) !important;
  background: #F7F7F8 !important;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0 0.5rem;
}

.search-icon {
  color: #888;
}

.search-input {
  color: #fff;
  margin-left: 0.5rem;
  width: 220px;
} 